/* AboutCard */

.aboutCardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 300px;
	color: white;
	margin: 2em 1em;
}

.iconContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: transparent;
	border: 2px solid white;
}

.iconContainer i {
	font-size: 4em;
}

.aboutCardContainer .title {
	font-size: 1.6em;
	font-weight: 500;
	padding: 0.5em;
}

.aboutCardContainer p {
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
	line-height: 1.3em;
}

/* About */

.aboutContainer {
	padding-top: 4em;
}

.aboutContainer h3 {
	color: white;
}

.aboutCardsList {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-evenly;
}

.aboutContainer img {
	height: 300px;
	width: auto;
	box-shadow: 10px 10px 20px var(--dayTextColor);
}

.photosAndTech {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	padding: 4em 0;
	margin: 2em 0;
}

.directions {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 300px;
}

.arrowAndCopy {
	display: flex;
	align-items: center;
	font-size: 3em;
	color: white;
}

.arrowAndCopy i {
	font-size: 2em;
}
