.contactBarContainer {
	margin: 0 auto;
	width: calc(90% - 15em);
	position: absolute;
	bottom: 2em;
	left: 2em;
	height: 4em;
	border-radius: 40px;
	background-color: var(--nightLightAccent);
	color: var(--nightDarkAccent);
	box-shadow: 3px 5px 0px var(--nightDarkAccent);

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2em;
	z-index: 1;
}

@media (max-width: 770px) {
	.contactBarContainer {
		width: 90%;
		margin: 0 auto;
		position: inherit;
		margin-bottom: 2em;
	}
}

.contactBarContainer div {
	width: auto;
}

.copyright {
	font-size: 1em;
}

.siteSpecs {
	font-size: 1em;
	text-align: right;
}

@media (max-width: 820px) {
	.copyright,
	.siteSpecs {
		font-size: 14px;
		line-height: 1.6em;
	}
}
