.contactContainer {
	width: calc(100vw - 26.8em);
	position: absolute;
	bottom: 2em;
	left: 4.6em;
	height: 4em;
	border-radius: 40px;
	background-color: #f9c2da;
	color: var(--nightDarkAccent);
	box-shadow: 3px 5px 0px var(--nightBoxShadowSolid);

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2em;
	z-index: 1;
}

.contactContainer div {
	width: 50%;
}

.copyright {
	font-size: 1em;
	padding-left: 1em;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.icons a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	width: 120px;
	padding: 0.5em;
	border-radius: 5px;
	background-color: inherit;
	transition: background-color 0.1s ease-in-out;
}

.icons a:hover {
	background-color: var(--nightLightAccent);
}

.linkIcon {
	height: 40px;
	width: auto;
}

@media screen and (max-width: 1040px) {
	.copyright {
		font-size: 1em;
	}
}

@media screen and (max-width: 930px) {
	.contactContainer {
		width: calc(100vw - 4em);
		left: 2em;
	}
}

@media screen and (max-width: 700px) {
	.copyright {
		font-size: 18px;
		padding-left: 1em;
	}

	.linkIcon {
		height: 32px;
	}
}

@media screen and (max-width: 540px) {
	.copyright {
		font-size: 14px;
		padding-left: 1em;
	}
}
