.contactBarContainer {
	width: calc(100vw - 26.8em);
	position: absolute;
	bottom: 2em;
	left: 4.6em;
	height: 4em;
	border-radius: 40px;
	background-color: #f9c2da;
	color: var(--nightDarkAccent);
	box-shadow: 3px 5px 0px var(--nightDarkAccent);

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2em;
	z-index: 1;
}

.contactBarContainer div {
	width: 50%;
}

.copyright {
	font-size: 1em;
	padding-left: 1em;
}

@media screen and (max-width: 1040px) {
	.copyright {
		font-size: 1em;
	}
}

@media screen and (max-width: 930px) {
	.contactContainer {
		width: calc(100vw - 4em);
		left: 2em;
	}
}

@media screen and (max-width: 700px) {
	.copyright {
		font-size: 18px;
		padding-left: 1em;
	}
}

@media screen and (max-width: 540px) {
	.copyright {
		font-size: 14px;
		padding-left: 1em;
	}
}
