/* in Welcome component */

.welcomeContainer .icons {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
	position: absolute;
	bottom: 0;
}

.welcomeContainer .icons a {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	width: 60px;
	padding: 1em;
	margin: 1em;
	background-color: inherit;
	padding-bottom: 0.5em;
}

.welcomeContainer .icons a:hover {
	box-shadow: 3px 3px 1px rgba(0, 212, 255, 1);
	border: 1px solid rgba(0, 212, 255, 1);
	border-radius: 5px;
}

.welcomeContainer .linkIcon {
	height: 32px;
	width: auto;
	filter: invert();
}

/* in Contact component */

.contactContainer .icons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 24em;
}

@media (max-width: 770px) {
	.contactContainer .icons {
		margin-bottom: 14em;
	}
}

.contactContainer .icons a {
	margin: 1em 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 8em;
	width: 8em;
	padding: 0.5em;
	border-radius: 10px;
	background-color: var(--nightLightAccent);
	box-shadow: 5px 5px 0 var(--nightDarkAccent);
	transition: background-color 0.1s ease;
	transition: transform 0.3s ease;
}

@media (max-width: 660px) {
	.contactContainer .icons {
		align-items: center;
		justify-content: center;
		margin-top: -1em;
		margin-bottom: 12em;
	}

	.contactContainer .icons a {
		height: 6em;
		width: 6em;
	}
}

@media (max-width: 420px) {
	.contactContainer .icons {
		margin-top: 0.5em;
	}

	.contactContainer .icons a:last-child {
		margin-top: 2em;
	}
}

.contactContainer .icons a:hover {
	transform: translateY(2px);
	background-color: var(--nightLightAccentHover);
}

.contactContainer .linkIcon {
	height: 4em;
	width: auto;
	filter: invert(11%) sepia(25%) saturate(5905%) hue-rotate(313deg)
		brightness(83%) contrast(90%);
}
