/* PortfolioCard */

.portfolioCardContainer {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	position: relative;
	box-shadow: 10px 10px 0 var(--nightLightAccent);
	margin: 1em 0;
}

.portfolioCardContainer img {
	height: 440px;
}

.btnsContainer {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: transparent;
	z-index: 10;
}

.btnsContainer span {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
	background-color: black;
	opacity: 0.6;
	cursor: pointer;
}

.btnsContainer span i {
	color: white;
	font-size: 2em;
	text-decoration: none;
	filter: brightness(100);
}

.popover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;

	background-color: white;
}

.portfolioCardContainer:hover .popover {
	display: flex;
}

/* Portfolio */

.portfolioContainer {
	padding-top: 4em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.portfolioContainer h3 {
	color: white;
}
