/* PortfolioCard */

.portfolioCardContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-width: 180px;
	min-height: 200px;
	padding: 1em;
	border: 1px solid white;
	margin: 0 0.3em;
}

.portfolioContainer {
	padding-top: 4em;
}

.portfolioContainer h3 {
	color: white;
}

.portfolioCards {
	display: flex;
	width: 100vw;
	overflow-x: auto;
	justify-content: flex-start;
}
