.skyContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pinkMoon {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 20em;
	width: auto;
	object-position: 3em 4.2em;
}
