.skyContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pinkMoon {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 20em;
	width: auto;
	object-position: 3em 4.2em;
}

.rocketContainer {
	position: relative;
	left: -40%;
	bottom: 14em;
	transform: rotate(50deg);
}

.rocketContainer * {
	object-fit: contain;
}

.rocketShip {
	position: absolute;
	height: 100px;
	width: auto;
}

.speed {
	position: absolute;
	display: none;
	height: 60px;
	width: auto;
}

.jet {
	position: absolute;
	display: none;
	height: 30px;
	width: auto;
}
