.techLogoUrls {
	display: flex;
	flex-direction: column;
	color: white;
	font-size: 2em;
}

.techLogoUrls img {
	border-radius: 50%;
	height: 80px;
	width: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	object-fit: cover;
	background: transparent;
	margin: 0.3em;
	background-color: white;
	box-shadow: 10px 10px 20px var(--dayTextColor);
}

.techLogoUrls > div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 70%;
	margin: 0 auto;
}

.techLogoUrls > label {
	text-align: center;
	margin: 2em 0 0.5em 0;
}
