.techLogoUrls {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	color: white;
	font-size: 2em;
	width: 80%;
}

.fullLogoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0.5em;
}

.round {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-radius: 50%;
	height: 80px;
	width: 80px;
	box-shadow: 4px 4px 10px var(--dayTextColor);
}

.logoAndText {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.techLogo {
	height: 48px;
}

.singleList {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.singleListImgs {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.singleList label {
	margin-bottom: 0.5em;
	text-align: center;
}

.singleList:last-child {
	margin-top: 2em;
}

.logoAndText {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 0.6em;
	margin: 0.5em;
	width: 120px;
}

.smol {
	font-size: 0.55em;
	margin-top: 0.8em;
}
