.video-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
	min-height: 600px;
	width: 50%;
}

@media (max-width: 930px) {
	.video-responsive {
		width: 100%;
	}
}

.video-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
