/* animation 2: rocket ship in orbit around pink moon */

.rocketContainerOrbit {
	position: relative;
	overflow: hidden;
	bottom: 0;
	left: 34%;
	height: 24em;
	width: 24em;
	animation: hide-orbit 16s infinite;
	animation-delay: 13s;
}

.rocketContainerOrbit * {
	object-fit: contain;
}

.rocketShipOrbit {
	position: absolute;
	height: 100px;
	width: auto;
}

.rocketShipTrail {
	position: absolute;
	left: -12%;
	bottom: 14%;
	transform: rotate(-12deg);
}

.rocketContainerOrbit > div {
	height: 20em;
	width: 20.6em;
	background: transparent;
	position: absolute;
	bottom: -4em;
	right: -3.4em;
	transform: rotate(270deg);
	animation: orbit 8s steps(35) infinite;
	animation-delay: 13s;
}

.rocketShipOrbit {
	height: 50px;
	transform: rotate(40deg);
}

@keyframes orbit {
	from {
		-webkit-transform: rotate(245deg);
		-moz-transform: rotate(245deg);
		-ms-transform: rotate(245deg);
		-o-transform: rotate(245deg);
		transform: rotate(245deg);
	}
	to {
		-webkit-transform: rotate(595deg);
		-moz-transform: rotate(595deg);
		-ms-transform: rotate(595deg);
		-o-transform: rotate(595deg);
		transform: rotate(595deg);
	}
}

@keyframes hide-orbit {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	50.01% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
