.speed {
	position: absolute;
	visibility: hidden;
	bottom: -10.4em;
	height: 60px;
	width: auto;
	animation: speed-visibility 10s steps(2) forwards;
	animation-delay: 1s;
}

@keyframes speed-visibility {
	0% {
	}
	3% {
	}
	6% {
	}
	9% {
	}
	12% {
	}
	15% {
		/* loop starts here */
	}
	18% {
	}
	21% {
		visibility: visible;
	}
	24% {
		visibility: hidden;
	}
	28% {
	}
	32% {
	}
	35% {
	}
	38% {
	}
	41% {
		visibility: visible;
	}
	44% {
	}
	48% {
		visibility: hidden;
	}
	52% {
	}
	55% {
	}
	58% {
	}
	61% {
	}
	64% {
	}
	67% {
	}
	70% {
	}
	73% {
	}
	76% {
		visibility: visible;
	}
	80% {
		visibility: hidden;
	}
	100% {
	}
}
