.sky {
	height: 900px;
	width: 100vw;
	align-self: flex-start;
	position: relative;
}

@keyframes twinkle {
	0% {
		color: gold;
		filter: brightness(0.75);
	}
	50% {
		color: white;
		filter: brightness(1.75);
	}
	100% {
		color: gold;
		filter: brightness(0.75);
	}
}
